
body {
    margin: unset;
}

.rto_homes {
    background-color: #fff;
    font-family: monospace;

    h1, h2, h3, h4, h5, h6, p {
        margin: unset;
    }

    svg {
        width: 15px;
        height: 15px;
    } 
    .colored-list {
        list-style: disc;
        color: #fff;
    }

    header {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 3;
        div {
            padding: 20px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .home_icon {
                display: flex;
                padding: unset;
                align-items: flex-end;
                gap: 5px;            
                img {
                    width: 55px;
                    cursor: pointer;
                }
                p {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            ul {
                list-style: none;
                gap: 50px;
                display: flex;
                align-items: center;
                li {
                    gap: 50px;
                    a {
                        font: 400 18px 'Nunito Sans';
                        font-family: monospace;
                        color: #000;
                        line-height: 25px;
                        text-decoration: none;
                    }
                    button {
                        background-color: #2A91A2;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }
        }
    }

    section.head {
        padding-top: 7rem !important;
        background-image: url('/Images/hero_background.jpg');
        background-size: cover;
        main {
            padding: 60px 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 35px;
            color: #fff;
            width: 45%;
            h4 {
                font: 700 64px Constantia;
            }
            p {
                font: 400 24px Constantia;
            }
            button {
                padding: 15px 70px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 400;
                border: none;
                color: #fff;
                align-self: flex-start;
                background-color: #2A91A2;
                cursor: pointer;
            }
            button:hover {
                background-color: #fff;
                color: #2A91A2;
            }
        }
    }

    section.path {
        padding: 50px 60px;
        display: flex;
        gap: 35px;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            gap: 20px;
            width: 60%;
            h4 {
                font: 700 36px Constantia;
            }
            p {
                font: 400 24px Constantia;
            }
            button {
                padding: 15px 70px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 400;
                border: none;
                color: #fff;
                align-self: flex-start;
                background-color: #2A91A2;
                cursor: pointer;
            }
            button:hover {
                background-color: #FAFAFA;
                color: #2A91A2;
                border: 1px solid #2A91A2;
            }
        }
        img {
            width: 400px;
        }
    }

    section.simplify {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #fff;
        background-color: #252B42;
        h4 {
            font: 700 36px Constantia;
        }
        p {
            font: 400 20px Constantia;
            color: #d2d2d2;
        }
        h6 {
            font: 700 17px Constantia;
        }
        button {
            padding: 15px 70px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 400;
            border: none;
            color: #fff;
            align-self: flex-start;
            background-color: #2A91A2;
            cursor: pointer;
            align-self: center;
        }
        button:hover {
            background-color: #fff;
            color: #2A91A2;
        }
        div.title {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        div.compact {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            .each {
                padding: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 12px;
                h6 {
                    margin-bottom: 5px;
                }
                p {
                    text-align: center;
                }
            }
        }
        div.stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    section.co-ownership {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        gap: 90px;
        h4 {
            font: 700 36px Constantia;
        }
        p {
            font: 400 20px Constantia;
            color: #d2d2d2;
        }
        h6 {
            font: 700 17px Constantia;
        }
        div.choose {
            h4 {
                line-height: 55px;
                text-align: center;
            }
            .grid {
                padding: 35px 100px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 40px;
                column-gap: 80px;
                .each {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 40px;
                    box-shadow: 0px 2px 10px 8px #d2d2d2;
                    border-radius: 25px;
                    img {
                        width: 48px;
                        height: 48px;
                    }
                    h6 {
                        font-size: 24px;
                        font-weight: bold;
                        font-family: sans-serif;
                        line-height: 25px;
                    }
                    p {
                        color: #031930;
                    }
                }
            }
        }

        div.real-world {
            display: flex;
            align-items: center;
            gap: 40px;
            .texts {
                display: flex;
                flex-direction: column;
                gap: 25px;
                .about-it {
                    h6 {
                        font-weight: 400;
                        font-size: 24px;
                        font-family: sans-serif;
                        line-height: 35px;
                        color: #031930;
                    }
                    ol {
                        font-size: 24px;
                        li {
                            line-height: 35px;
                            color: #031930;
                        }
                    }
                }
                .breakdown {
                    h6 {
                        font-weight: bold;
                        font-family: sans-serif;
                        color: #031930;
                        font-size: 24px;
                    }
                    ol {
                        padding: unset;
                        li {
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 35px;
                            color: #031930;
                            list-style-type: none;
                            padding-inline-start: 30px;
                        }
                    }
                }
            }
        }
    }

    section.contact-us {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h4 {
            font: 700 36px Constantia;
        }
        p {
            font: 400 20px sans-serif;
            color: #8B8B8B;
            width: 70%;
            text-align: center;
            margin-bottom: 15px;
        }
        button {
            padding: 15px 70px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 400;
            border: none;
            color: #fff;
            background-color: #2A91A2;
            cursor: pointer;
        }
        button:hover {
            background-color: #FAFAFA;
            color: #2A91A2;
            border: 1px solid #2A91A2;
        }
    }

    section.subscribe {
        padding: 40px 60px;
        background-color: #FAFAFA;
        display: flex;
        justify-content: space-between;
        div {
            h6 {
                color: #252B42;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 10px;
            }
            p {
                color: #737373;
                font-weight: 500;
                font-size: 14px;
            }
        }
        form {
            display: flex;
            border: 1px solid #757575;
            border-radius: 15px;
            input {
                padding: 15px 20px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                font-size: 20px;
                border: none;
            }
            .input:focus {
                border-color: none;
                outline: 0;
                box-shadow: none;
            }
            button {
                padding: 15px 70px;
                border-radius: 15px;
                font-size: 20px;
                font-weight: 400;
                border: none;
                color: #fff;
                background-color: #2A91A2;
                cursor: pointer;
                margin-left: -20px;
            }
            button:hover {
                background-color: #d2d2d2;
                color: #2A91A2;
                border: 1px solid #2A91A2;
            }
        }
        form:hover {
            border: none;
            border-color: #2A91A2;
            box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
            outline: 0;
        }
    }

    footer {
        color: #fff;
        div.up {
            padding: 40px 50px;
            background-color: #252B42;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.first {
                display: flex;
                padding: unset;
                align-items: flex-end;
                gap: 5px;            
                img {
                    width: 100px;
                    cursor: pointer;
                }
                p {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            div.last {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 100px;
                ul {
                    margin: unset;
                    padding: unset;
                    list-style: none;
                    h6 {
                        font-weight: 700;
                        font-size: 16px;
                        color: #fff;
                        margin-bottom: 1rem;
                    }
                    li {
                        margin-bottom: 7px;
                        a {
                            color: #fff;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        div.down {
            padding: 20px 70px;
            background-color: #FAFAFA;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: #737373;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }

}


@media screen and (max-width: 1200px) {
    .rto_homes {

    }
}


@media screen and (max-width: 1023px) {
    .rto_homes {
        header {
            div {
                padding: 20px 40px;
            }
        }

        section.co-ownership {
            div.real-world {
                img {
                    width: 50%;
                }
            }
        }

        section.path {
            img { 
                width: unset;
            }
        }

        footer {
            padding: 50px;
            div.first {
                .links {
                    gap: 25px;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            div.last {
                .location {
                    flex-direction: column;
                    align-items: unset;
                    justify-content: unset;
                    gap: 30px;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .rto_homes {
        overflow: hidden;
        header {
            div {
                padding: 20px;
                ul {
                    margin: unset;
                    gap: 30px;
                }
            }
        }

        section.head {
            main {
                padding: 30px 60px;
            }
        }

        section.path {
            flex-direction: column-reverse;
            div {
                width: unset;
            }
        }

        section.simplify {
            div.stats {
                img {
                    width: 100%;
                }
            }
        }

        section.co-ownership {
            div.choose {
                .grid {
                    padding: 35px;
                }
            }

            div.real-world {
                flex-direction: column;
                img {
                    width: 80%;
                }
            }
        }

        section.contact-us {
            p {
                width: 90%;
            }
        }

        section.subscribe {
            flex-direction: column;
            gap: 20px;
            form {
                width: unset;
                input {
                    width: 100%;
                }
            }
        }

        footer {
            width: unset;
            div.up {
                padding: 40px;
                div.last {
                    gap: 20px;
                }
            }
            div.down {
                padding: 20px 10px;
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .rto_homes {
        header {
            div {
                padding: 8px 10px;
                ul {
                    gap: 17px;
                    padding-inline-start: 15px;
                    li {
                        a {
                            font-size: 15px;
                            line-height: unset;
                        }
                    }
                }
                .home_icon {
                    p {
                        display: none;
                    }
                }
            }
        }

        section.head, section.path, section.simplify, section.co-ownership
        section.contact-us, section.subscribe {
            padding: 30px;
        }

        section.head {
            main {
                width: unset;
                padding: 30px;
                h4 {
                    font-size: 35px;
                }
                p {
                    font-size: 20px;
                }
                button {
                    padding: 15px 40px;
                    font-size: 15px;
                }
            }
        }

        section.path {
            img {
                width: 80%;
            }
            div {
                h4 {
                    font-size: 26px;
                }
                p {
                    font-size: 20px;
                }
                button {
                    padding: 15px 40px;
                    font-size: 15px;
                }
            }
        }

        section.simplify {
            p {
                font-size: 18px;
            }
            h6 {
                font-size: 16px;
            }
            button {
                padding: 15px 40px;
                font-size: 15px;
            }
            div.title {
                align-items: center;
                h4 {
                    font-size: 26px;
                }
            }
            div.compact {
                gap: 5px;
                .each { 
                    padding: 5px;
                }
            }
        }

        section.co-ownership {
            padding: 30px;
            gap: 70px;
            h4 {
                font-size: 26px;
            }
            p {
                font-size: 18px;
            }
            h6 {
                font-size: 16px;
            }
            div.choose {
                .grid {
                    padding: 10px;
                    gap: 40px;
                    .each {
                        padding: 30px;
                        p {
                            font-size: 18px;
                        }
                        h6 {
                            font-size: 17px;
                        }
                    }
                }
            }
            div.real-world {
                .texts {
                    .about-it {
                        h6 {
                            font-size: 17px;
                            line-height: 20px;
                        }
                        ol {
                            font-size: 20px;
                        }
                    }
                    .breakdown {
                        h6 {
                            font-size: 17px;
                            line-height: 20px;
                        }
                        ol {
                            font-size: 20px;
                            li {
                                line-height: 25px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        section.contact-us {
            padding: 30px;
            h4 {
                font-size: 26px;
            }
            p {
                width: unset;
                font-size: 16px;
            }
            button {
                padding: 15px 40px;
                font-size: 15px;
            }
        }

        section.subscribe {
            div {
                h6 {
                    font-size: 20px;
                }
            }

            form {
                input {
                    font-size: 15px;
                    padding-right: 30px;
                }
                button {
                    padding: 15px 40px;
                    font-size: 15px;
                }
            }
        }

        footer {
            padding: 30px;
            div.up {
                padding: 25px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                div.last {
                    gap: 40px;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .rto_homes {
        
        footer {
            div.first {
                gap: 15px;
            }
        }
    }
}


@media screen and (max-width: 550px) {
    .rto_homes {
        & section.co-ownership {
            & div.choose {
                .grid {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .rto_homes {
        header {
            div {
                ul {
                    padding: 0px 10px;
                    justify-content: space-between;
                    gap: 15px;
                    li {
                        a {
                            line-height: 20px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        footer {
            padding: 20px;
            div.up {
                div.last {
                    gap: 20px;
                }
            }
        }
    }
    
}

