
body {
    margin: unset;
}

.rto_homes {
    background-color: #fff;
    font-family: monospace;

    h1, h2, h3, h4, h5, h6, p {
        margin: unset;
    }

    svg {
        width: 15px;
        height: 15px;
    } 
    .colored-list {
        list-style: disc;
        color: #fff;
    }

    header {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 3;
        div {
            padding: 20px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .home_icon {
                display: flex;
                padding: unset;
                align-items: flex-end;
                gap: 5px;            
                img {
                    width: 55px;
                    cursor: pointer;
                }
                p {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            ul {
                list-style: none;
                gap: 50px;
                display: flex;
                align-items: center;
                li {
                    gap: 50px;
                    a {
                        font: 400 18px 'Nunito Sans';
                        font-family: monospace;
                        color: #000;
                        line-height: 25px;
                        text-decoration: none;
                    }
                    button {
                        background-color: #2A91A2;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }
        }
    }

    section.head {
        padding-top: 7rem !important;
        display: flex;
        gap: 70px;
        padding: 10px 0px;
        width: 100%;
        background-color: #000;
        justify-content: space-between;
        div.elements {
            color: #fff;
            padding: 30px 40px;
            width: 51%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            h2 {
                font: 400 64px Nunito Sans;
                span {
                    color: #FFB800;
                    font-weight: bold;
                    font-family: Abril Fatface;
                }
            }
            p {
                color: #FFB800;
                font: 400 28px Nunito Sans;
                font-family: sans-serif;
            }
            h6 {
                font-size: 28px;
                font-weight: 400;
                font-family: sans-serif;
            }
            button {
                align-self: flex-start;
                background-color: #FFB800;
                border-radius: 10px;
                border: none;
                padding: 10px 65px;
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
            }
        }
        img.grp {
            padding: 40px 100px;
            padding-left: unset;
            padding-bottom: unset;
            width: 445px;
        }
    }

    footer {
        color: #fff;
        div.up {
            padding: 40px 50px;
            background-color: #252B42;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.first {
                display: flex;
                padding: unset;
                align-items: flex-end;
                gap: 5px;            
                img {
                    width: 100px;
                    cursor: pointer;
                }
                p {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            div.last {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 100px;
                ul {
                    margin: unset;
                    padding: unset;
                    list-style: none;
                    h6 {
                        font-weight: 700;
                        font-size: 16px;
                        color: #fff;
                        margin-bottom: 1rem;
                    }
                    li {
                        margin-bottom: 7px;
                        a {
                            color: #fff;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        div.down {
            padding: 20px 70px;
            background-color: #FAFAFA;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: #737373;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }

}


@media screen and (max-width: 1200px) {
    .rto_homes {
        section.head {
            gap: 25px;
            img.grp {
                width: 363px;
                padding: 40px 60px;
            }
            div.all {
                .unlock {
                    h3 {
                        font-size: 50px;
                    }
                    h2 {
                        font-size: 65px;
                    }
                }
                .other {
                    width: 80%;
                    button {
                        font-size: 20px;
                    }
                }
            }
            div.elements {
                h2 {
                    font-size: 45px;
                }
                h6 {
                    font-size: 20px;
                }
                button {
                    padding: 10px 45px;
                }
            }
        }

    }
}


@media screen and (max-width: 1023px) {
    .rto_homes {
        header {
            div {
                padding: 20px 40px;
            }
        }


        footer {
            padding: 50px;
            div.first {
                .links {
                    gap: 25px;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            div.last {
                .location {
                    flex-direction: column;
                    align-items: unset;
                    justify-content: unset;
                    gap: 30px;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .rto_homes {
        overflow: hidden;
        header {
            div {
                padding: 20px;
                ul {
                    margin: unset;
                    gap: 30px;
                }
            }
        }

        section.head {
            gap: 5px;
            img.grp {
                padding: 20px;
                width: 345px;
            }
            div.elements {
                h2 {
                    font-size: 35px;
                }
                p {
                    font-size: 20px;
                }
                h6 {
                    font-size: 15px;
                }
                button {
                    font-size: 17px;
                }
            }
        }

        footer {
            width: unset;
            div.first {
                .links {
                    grid-template-columns: repeat(2, 1fr);
                    .service {
                        padding: unset;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .rto_homes {
        header {
            div {
                padding: 8px 10px;
                ul {
                    gap: 15px;
                }
            }
        }

        section.head {
            padding: 30px 20px;
        }

        section.head {
            flex-direction: column-reverse;
            padding: 40px;
            gap: 20px;
            width: unset;
            img.grp {
                padding: unset;
                width: 100%;
                align-self: center;
            }

            div.elements {
                width: 100%;
                gap: 15px;
                padding: unset;
            }
        }

        footer {
            padding: 30px;
            div.first {
                flex-direction: column;
                gap: 2rem;
                .links {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    ul {
                        padding: unset;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .rto_homes {
        
        footer {
            div.first {
                flex-direction: column;
                gap: 35px;
                .links {
                    grid-template-columns: repeat(2, 1fr);
                    .res {
                        grid-column: span 2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .rto_homes {
        header {
            div {
                ul {
                    padding: 0px 10px;
                    justify-content: space-between;
                    gap: 15px;
                    li {
                        a {
                            line-height: 20px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        footer {
            padding: 20px;
            div.first {
                .links {
                    grid-template-columns: repeat(2, 1fr);
                    .res {
                        grid-column: span 2;
                        div {
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                }
            }
        }
    }
    
}

